node_modules/
package-lock.json
dist/
output.log
resources/*
!resources/README.md
src/config/*
!src/config/README.md
cert.pem
key.pem
public/
.greenlockrc
greenlock.d/*
!greenlock.d/README.md
.travis.yml